---
---

@import "{{ site.theme }}";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto Sans Telugu&display=swap');

input[type=button], button{
    background-color: white;
    border-color: #479cd8;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

body {
    font-family: Nunito, Noto Sans Telugu, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 14px;
}

.hide-on-screen {
    display:none;
}

@media print {
    @page {
        size: A4;
        margin-bottom: 0;
        margin: 0.5cm;
    }
  
    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
        text-transform: uppercase;
        margin-top: 4pt;
        margin-bottom: 2pt;
        font-family: "Nunito";
    }

    h1 {
        font-size: 14pt;
    }
    h2 {
        font-size: 13pt;
    }
    h3 {
        font-size: 12pt;
    }
    p {
        font-size: 11pt;
        margin-top: 4pt;
        margin-bottom: 3pt;
        font-family: "Nunito";
    }

    .no-print, .no-print *
    {
        display: none;
    }
    .hide-on-screen {
        display:block;
    }
    #printPageButton {
        display: none;
      }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0.7em 0;
        padding: 0;
        width: 25%;
    }
}
